.ag-row .ag-header-row {
  font-size: var(--vscode-font-size);
}

div.ag-theme-alpine div.ag-row {
  font-size: var(--vscode-font-size) !important;
  color: var(--vscode-foreground) !important;
}

div.ag-theme-alpine-dark div.ag-row {
  font-size: var(--vscode-font-size) !important;
  color: var(--vscode-foreground) !important;
}

div.ag-theme-alpine div.ag-header-row {
  color: var(--vscode-foreground) !important;
}

div.ag-theme-alpine-dark div.ag-header-row {
  color: var(--vscode-foreground) !important;
}

.ag-cell .ag-header-cell {
  padding-left: 7px;
  padding-right: 7px;
  border-right-color: black;
  border-right-width: 1px;
  border-right-style: solid;
}

html {
  height: 100%;
}

body {
  height: 100%;
  --event-table-class: ag-theme-alpine
}

body[data-vscode-theme-kind="vscode-dark"] {
  height: 100%;
  --event-table-class: ag-theme-alpine-dark
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#header {
  display: flex;
}

#ext-info {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

#event-table {
  height: 100%
}

#charts {
  display: flex;
  flex-direction: row;
}

#diagram {
  display: flex;
  flex-direction: row;
}

.refresh-button,
.export-json-button,
.export-csv-button,
.clear-button {
  margin-left: 4px;
  margin-top: auto;
}

.toggle-charts-button {
  margin-left: auto;
  margin-top: auto;
}

span.info-param-name {
  margin-right: 10px;
}

.ext-info-badge {
  vertical-align: 'center';
  margin-right: 10px;
}


span.ext-info-badge.codicon.codicon-warning {
  color: #eba800;
}

span.ext-info-badge.codicon.codicon-stop {
  color: #ec3f00;
}

span.table-cell.codicon.codicon-stop {
  color: #ec3f00;
  align-self: center;
  padding-left: 10px;
}

span.ext-info-badge.codicon.codicon-pass {
  color: green;
}

/* Table row colors*/

div.rowType_request {
  color: var(--vscode-textLink-foreground)
    /* blue */
}

div.rowType_response {
  color: var(--vscode-editorGutter-addedBackground)
    /* green */
}

div.rowType_notification {
  color: var(--vscode-editorMarkerNavigationWarning-background)
    /* orange/braun */
}

/* Graph 
div.send {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  animation: glowUp  0.8s linear 0s 1 alternate;
} 

div.receive {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% + 120px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff; 
  animation: glowDown 1s  linear 1s 1 alternate;  
}  

@keyframes glowUp {
  from {
    box-shadow: 0 0 17px -17px #aef4af;
  }
  to { 
    box-shadow: 0 0 10px 10px #aef4af;
  }
}

@keyframes glowDown {
  from {
      box-shadow: 0 0 10px 10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px -10px #aef4af;  
  }  
} 
*/